<div class="header">
    <div class="header1">
        <div class="overskrift" >
            <h1>Sig hej til “AI-Ally” -  Din nye digitale veninde</h1>
        </div>
        <div class="tekst">
            <p> GirlTalk´s nye AI-maskot er her for at hjælpe dig med at mestre det digitale fællesskab som ung! <br><br>
                Læs hendes bedste råd her: 
            </p>
        </div>
    </div>
    <div class="test">
        <div class="billede">
            <div class="billede2">
                
                <img  class="billede3" src="/pics/instagram.svg" alt="billede">

                </div>
                <span class="underlay"></span>
        </div>
        
        
    </div>
</div>

<style>
    * {
        box-sizing: border-box;
    }
    .test {
        position: relative;
        flex: 0 0 auto;
    width: 100%;
    justify-self: center;
    padding: 20px;
  }
    .header {
display: grid;
grid-template-columns: 1fr 1fr;
background-color: rgba(252, 77, 92, 1);
padding-left: 100px;
padding-right: 100px;
padding-top: 50px;
padding-bottom: 77px;
grid-gap: 80px;
    }
.billede{
    position: relative;
    width: calc(100% - 15px);
}
.billede2 {
    position: relative;
    z-index: 1;

}

    .billede3 {
        display: block;
        background-color: rgba(255, 245, 235, 1);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    }

    .underlay {
        background: rgba(39, 57, 170, 1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 22px;
    left: 22px;
    border-radius: 5px;
    z-index: 0;
    }

    .overskrift {
        font-size: 1.9rem;
        color: rgba(255, 245, 235, 1);
    }
    .header1 {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .tekst {
        color: rgba(255, 245, 235, 1);
        font-size: 2rem;
        line-height: 1.5;
    }
</style>